__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.env
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec
*.log
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.cache/
.ipynb_checkpoints/
*.sqlite3
*.db
*.DS_Store
*.so
*.orig
*.bak
*.swp
*.swo
*.~ 
# VSCode
.vscode/
